<div class="login-container">
  <h1>tailwebs.</h1>
  <div class="login-form">
    <%= form_for @user do |form| %>
      <div class="form-group">
        <%= form.label :name, class: 'required' %>
        <%= form.text_field :name, class: "form-control", placeholder: "Enter Your Name" , required: true%>
        <p class='error'><%= show_errors(@user, :name) %></p>
      </div>
      <div class="form-group">
        <%= form.label :username, class: 'required' %>
        <%= form.text_field :username, class: "form-control", placeholder: "Enter Your username" , required: true%>
        <p class='error'><%= show_errors(@user, :usename) %></p>
      </div>
      <div class="form-group">
        <%= form.label :email, class: 'required' %>
        <%= form.email_field :email, class: "form-control", placeholder: "Enter Your Email", required: true%>
        <p class='error'><%= show_errors(@user, :email) %></p>
      </div>
      <div class="form-group">
        <%= form.label :password, class: 'required' %>
        <%= form.password_field :password, class: "form-control", placeholder: "Enter Your Password", required: true%>
        <p class='error'><%= show_errors(@user, :password) %></p>
      </div>
      <div class="form-group">
        <%= form.label :password_confirmation, class: 'required' %>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Your Password", required: true%>
        <p class='error'><%= show_errors(@user, :password_confirmation) %></p>
      </div>
      <div class="form-group">
        <%= link_to "Already an user? Login", new_session_path %>
      </div>
      <%= form.submit "Sign Up", class: "login-button"  %>
    <% end %>
  </div>
</div>
<style>
  body {
   background-color: #f0f0f0;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 2rem;
  }
  h1{
     text-align: center;
  }
  .login-form {
   background-color: white;
   padding: 3rem;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   text-align: center;
   width: 600px;
  }

  h1 {
   color: #e54b4b;
   font-size: 24px;
   margin-bottom: 20px;
  }

  .login-form .form-group {
   margin-bottom: 15px;
  }

  .login-form label {
   display: block;
   text-align: left;
   font-weight: bold;
   margin-bottom: 5px;
  }

  .login-form input[type="text"],
  .login-form input[type="password"],
  .login-form input[type="email"]  {
   width: 100%;
   padding: 10px;
   margin-top: 5px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
  }

  .forgot-password {
   display: block;
   text-align: right;
   margin-top: 10px;
   font-size: 12px;
   color: #007bff;
   text-decoration: none;
  }

  .forgot-password:hover {
   text-decoration: underline;
  }

  .login-button {
   padding: 0.6rem 3rem;
   background-color: #333;
   color: white;
   border: none;
   cursor: pointer;
  }

  .login-button:hover {
   background-color: #555;
  }
</style>